out

Donor-Connect-App/.gradle
Donor-Connect-App/.idea
Donor-Connect-App/build
Donor-Connect-App/Donor-Connect-App.*

Functional-Test/.gradle
Functional-Test/.idea
Functional-Test/build
Functional-Test/Functional-Test.*

tmp

.gradle
.idea
build