
header {
    padding: 10px 0;
    background: #BFD9DA;
    margin-bottom: 30px;
}
header a {
    text-decoration: none;
}
.logopic {
    float: left;
}

.logo {
    font-size: 42px;
    font-family: cursive;
    margin: 0px;
    color: #666;
}

.menubar ul{
    list-style: none;
}

.menubar ul a{
    text-decoration: none;
    color: #666;
}

.menubar ul a:hover{
    text-decoration: underline;
    color: #3F0F79;
}

.menubar li{
    color: #666;
    float:left;
    padding: 10px;
    height: 7px;
}

.menu{
    padding:20px 10px 5px 0px;
    float:right;
}

/*------------footer css----*/
footer{
    clear:both;
    margin-top: 70px;
    padding: 20px;
    height: 100px;
    text-align: center;
    background: #BFD9DA
}
footer ul {
    list-style-type: none;
}
footer ul li {
    color: #666;
    font-size: 14px;
    float: left;
    padding: 2px;
}
.footerbar {
    position: relative;
    margin: 0 auto;
    width: 316px;
}
.copyRight {
    margin: 0;
    font-size: 14px;
    color: #333;
}
