.welcomeBody {
    padding-bottom: 20px;
    padding-top: 20px;
}
.projectPic {
    border: 2px solid #7E9BB4;
    border-radius: 5px;
    box-shadow: -3px 3px 8px 0px gray;
}

.welcomeText {
    margin: 10px;
}
.activeProject {
    padding-bottom: 20px;
    padding-top: 20px;
}
.keyProjectsImage{
    text-align: center;
}