#errorMessage {
    color: red;
}

#successMessage {
    color: blue;
    font-weight: bold;
}

#donate-form {
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 26px;
    margin-top: 7px;
}
#donate-form button{
    padding: 4px;
}

p {
    /*font-size: 50px;*/
}

#project_listing {
    border-color: black;
    border: 1px;
    border-style: double;
}

#summary_container {
    width: 620px;
    height: 100px;
    border: 3px solid #808080;
    margin-bottom: 20px;
}

#listing-thumbnail {
    float: left;
    width: 100px;
    height: 100px;
}

#listing-summary {
    float: left;
    width: 520px;
    height: 100px;
}


#project-summary {
    float: left;
    width: 72%;
    height: 209px;
}

.project {
    background-color: white;
}
.pageHeader {
    padding-left: 10px;
}
.pageHeader h2{
    margin-bottom: 5px;
}

.projectContent {
    padding: 5px 25px;
}

.project-image img {
    width: 564px;
    height: 360px;
    border: 3px solid #CCC;
    border-radius: 4px;
}

.project-share {
    float: right;
    margin: 5px 0px 20px 0px;
}

.project-share img {
    cursor: pointer;
}

.projectContent button {
    padding: 0;
    border: none;
    border-radius: 2px;
}

.project-detail {
    clear: both;

}

/*-----------------------------projects page css */
.project-list {
    background-color: #fff;
}

.eachProject {
    background: #ffffff;
    height: 173px;
    padding: 20px 10px;
    margin-bottom: 20px;
}


.projectThumbnail {
    border: 1px solid #ccc;
    margin-right: 10px;
    text-align: center;
    float: left;
    width: 170px;
}

.projectSummary h4{
    height: 18px;
    overflow: hidden;
    margin:0px 0px 5px 0px;
    padding: 5px 0px ;
}

.projectSummary h4 a{
    text-decoration: none;
    color: #333;
}

 h4 a:hover{
    text-decoration: underline;
    color: #3F0F79;
}


.thumbnailImage{
    margin-top: 5px;
    width: 167px;
    height: 167px;
}


.eachProject .projectBrief {
    font-size: 14px;
    margin: 0;
    overflow: auto;
    height: 70px;
}

.projectSummary {
    width: 470px;
    padding: 10px;
    border: 1px solid #ccc;
    float: left;
    height: 153px;
}
.projectProgressInfo {
    padding: 20px 36px;
}
.projectProgressInfo .progressTitle {
    font-size: 14px;
    color: #666;
    font-weight: normal;

}
.projectProgressInfo table {
    width: 100%;
    background: #EEECE3;
    border: 1px solid #ccc;
    border-collapse: collapse;

}
.projectProgressInfo table th{
    font-weight: normal;
    font-size: 24px;
    border: 1px solid #ccc;
    padding: 20px;

}
.thumbnailProgress {
    text-align: left;
    background: #E9E7DC;
    padding: 5px;
}
.thumbnailProgress table{
}
.thumbnailProgress table th{
    font-weight: bold;
    font-size: 14px;
    padding-right: 20px;
}
.thumbnailProgress .progressTitle {
    color: #666;
    font-size: 12px;
}
.thumbnailProgress progress{
    width: 65%;
}

