p {
    /*font-size: 50px;*/
}

#project_listing {
    border-color: black;
    border: 1px;
    border-style: double;
}

#summary_container {
    width: 620px;
    height: 100px;
    border: 3px solid #808080;
    margin-bottom: 20px;
}

#listing-thumbnail {
    float: left;
    width: 100px;
    height: 100px;
}

#listing-summary {
    float: left;
    width: 520px;
    height: 100px;
}


#project-summary {
    height: 80px;
}

.project {
    background-color: white;
}
.projectHeader {
    padding-left: 20px;
}
.projectHeader h3{
    margin-bottom: 0px;
}

.projectContent {
    padding: 5px 25px;
}

.project-image img {
    width: 564px;
    height: 360px;
    border: 3px solid #CCC;
    border-radius: 4px;
}

.project-share {
    float: right;
    margin: 5px 0px 20px 0px;
}

.project-share img {
    cursor: pointer;
}

.projectContent button {
    padding: 0;
    border: none;
    border-radius: 2px;
}

.project-detail {
    clear: both;

}

/*-----------------------------projects page css */
.project-list {
    background-color: #fff;
}

.eachProject {
    height: 115px;
    padding: 20px 10px;
    margin-bottom: 20px;
}


.projectThumbnail {
    border: 1px solid #ccc;
    margin-right: 10px;
    float: left;
    width: 170px;
}

.projectSummary h4{
    height: 18px;
    overflow: hidden;
    margin:0px 0px 5px 0px;
    background-color: #DDECEF;
    padding: 5px 0px ;
}

.projectSummary h4 a{
    text-decoration: none;
    color: #333;
}

 h4 a:hover{
    text-decoration: underline;
    color: #3F0F79;
}


.thumbnailImage{
    width: 170px;
    height: 140px;
}
.eachProject .projectName {
    margin: 0;
}

.eachProject .projectBrief {
    font-size: 14px;
    margin: 0;
    height: 42px;
    overflow: auto;
    /*margin: 0;*/
}

.brief-info {
    /*float: right;*/
}

.allProjectsBody{

}
.projectSummary {
    border: 1px solid #ccc;
    background-color: #DDECEF;
    margin-left: 177px;
}
